:root {
  --text: #eeeeee;
  --side-one: #222831;
  --main-two: #393e46;
  --main-one: #00adb5;
  --side-two: #eeeeee;
}
body{
  background-color: var(--main-one) !important;
}
.container {
  width: 85%;
  margin-top: 100px;
  padding: 10px;
  
}

/* ******************************* */
/* HEADER */
.header {
  margin-bottom: 25px;
  height: 100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: var(--side-one);
  border-radius: 5px;
  align-items: center;
  margin: auto;
}
.header h3 {
  color: var(--text);
  margin-right: 10px;
}
.circles {
  display: flex;
  margin-left: 10px;
}
.circles section {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--text);
  margin: 2px;
}
/* ***************************************** */
/* MAIN */
.main-div {
  background-color: var(--side-one);
  margin-top: 25px;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  color: var(--text);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* ***************************************** */
.little-div {
  width: 80%;
  background-color: #00adb5;
  background-color: var(--main-two);
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}
.little-div img {
  margin: 10px;
  object-fit: cover;
  border-radius: 10px;
}
.little-div h2 {
  margin: 20px 0;
}
.little-div p {
  margin: 10px 70px;
  text-align: center;
}
.more-info-button {
  width: 200px;
  border: 3px solid var(--text);
  padding: 10px;
  text-align: center;
  margin: 10px;
  background-color: transparent;
  color: var(--text);
  border-radius: 5px;
  text-decoration: none;
}
.more-info-button:hover {
  background-color: var(--text);
  color: var(--side-one);
  transition: 0.2s ease-in-out;
}
.didUpdate-list {
  display: flex;
}
.didUpdate-list section {
  padding: 10px;
  margin: 15px;
  text-align: center;
  border: 2px solid transparent;
  cursor: pointer;
}
.didUpdate-list section:hover {
  border: 2px solid var(--text);
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}
.didMount-div {
  display: flex;
}
.section {
  background-color: var(--main-two);
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}
.section img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.section p {
  font-size: smaller;
}
.loading {
  font-size: 40px;
  padding: 50px;
}

/* ******************************** */

/*********************/

@media only screen and (min-width: 1200px) {
  
  .didUpdate-list {
    flex-direction: column;
  }
  .little-div img {
    width: 500px;
    height: 300px;
  }
  .didMount-div .section {
    width: 250px;
  }
  .didMount-div .section img {
    height: 150px;
  }
}
@media only screen and (max-width: 1200px) {
  
  .didUpdate-list {
    flex-direction: column;
  }
  .little-div img {
    width: 500px;
    height: 300px;
  }
  .didMount-div {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .didMount-div .section {
    max-width: 45%;
  }
  .didMount-div .section img {
    height: 150px;
  }
}
@media only screen and (max-width: 780px) {
  
  .didUpdate-list {
    flex-direction: row;
  }
  .main-div {
    flex-direction: column;
  }
  .little-div img {
    width: 95%;
    height: 150px;
  }
  .header h3 {
    font-size: 15px;
  }
  .didMount-div {
    justify-content: center;
  }
  .didMount-div .section {
    max-width: 90%;
  }
  .didMount-div .section img {
    height: 150px;
  }
}
/******************/
